.pill {
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(270deg, $bg-gray 0%, $bg-main-dark 76.56%, $bg-main-dark 100%);
  display: flex;
  margin-bottom: 10px;
  border-radius: 2.5rem;
  .img-div, img {
    width: 5rem;
    height: 100%;
    border-radius: 2.5rem;
  }
  .info {
    flex: 1;
    padding: 0.5rem 1.6rem 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.movement {
    .img-div{
      background-color: $bg-gray;
      display: flex;
      align-items: center;
      img {
        height: 50%;
      }
    }
    &.green {
      span {
        color: $font-green;
      }
    }
    &.available {
      cursor: pointer;
    }
    &.unavailable * {
      color: $font-unavailable;
    }
  }
}